<!DOCTYPE html>
<html lang="en" layout:decorate="~{layout}"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Single-post</title>
</head>

<body>

<div layout:fragment="content">

    <div class="flash-message" th:if="${notice}">
        <h3>[[${notice}]]</h3>
    </div>

    <div th:insert="fragments/post-fragment :: post-fragment"></div>


    <form action="#" class="comment-form" method="post" th:action="@{/comments}" th:if="${loggedIn}"
          th:object="${comment}">
        <div>
            <input name="postId" th:value="${post.id}" type="hidden"/>
            <textarea name="comment-body" th:field="*{commentText}"></textarea>
        </div>

        <div>
            <button type="submit">add comment</button>
            <button class="upvote-btn" type="button">upvote</button>
        </div>
    </form>

    <div class="comments">
        <div th:insert="fragments/comment-fragment :: comment-fragment"></div>
    </div>
    <div th:if="${loggedIn}">
        <script src="/js/upvote.js"></script>
    </div>

</div>

</body>
</html>